<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Form</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2 th:text="${categoryDTO.id == null} ? 'Add Category' : 'Edit Category'">Category</h2>

            <form th:if="${categoryDTO.id == null}"
                  th:object="${categoryDTO}"
                  th:action="@{/mvc/admin/categories/new}"
                  method="post">

                <div class="form-group">
                    <label for="catName">Name</label>

                    <input id="catName"
                            type="text"
                           class="form-control"
                           th:field="*{name}">

                    <div class="text-danger"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}">
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save</button>
                <a th:href="@{/mvc/admin}" class="btn btn-secondary">Cancel</a>
        </form>

        <form th:if="${categoryDTO.id != null}"
              th:object="${categoryDTO}"
              th:action="@{/mvc/admin/categories/edit}"
              method="post">

            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="catName2">Name</label>

                <input id="catName2"
                        type="text"
                       class="form-control"
                       th:field="*{name}">

                <div class="text-danger"
                     th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}">
                </div>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
            <a th:href="@{/mvc/admin}" class="btn btn-secondary">Cancel</a>

        </form>

    </div>
</body>
</html>